import request from '@/utils/request'

export function getPage(params) {
  return request({
    url: '/v1/${classname}/searchByPage',
    method: 'post',
    data: params
  })
}

export function add(data) {
  return request({
    url: '/v1/${classname}/insert',
    method: 'post',
    data
  })
}

export function edit(data) {
  return request({
    url: '/v1/${classname}/update',
    method: 'post',
    data
  })
}

export function del(ids) {
  return request({
    url: '/v1/${classname}/deleteByIds',
    method: 'post',
    data: ids
  })
}
