<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.mapper.${className}Mapper">

    <resultMap type="${package}.entity.${className}Entity" id="${className}Result">
#foreach ($column in $columns)
        <result property="${column.attrname}"    column="${column.columnName}" />
#end
    </resultMap>


    <sql id="paginationSql">
        <if test="pageSize > 0">
           OFFSET #{pageBegin} ROWS FETCH NEXT #{pageSize} ROWS ONLY
        </if>
    </sql>

	<sql id="select${className}Column">
        #foreach($column in $columns) $column.columnName#if($velocityCount != $columns.size()),
        #end#end

    </sql>

    <sql id="queryWhere">
        <where>
            #foreach($column in $columns)

            <if test="$column.attrname != null #if($column.attrType == 'String' ) and $column.attrname != ''#end">
                AND ${column.columnName} = #{$column.attrname}
            </if>
            #end
            AND is_del = 0
        </where>
    </sql>

    <select id="findById" parameterType="Long"
            resultMap="${className}Result">
        SELECT
        <include refid="select${className}Column"/>
        FROM ${tableName}
        WHERE id = #{id} AND is_del = 0
    </select>

    <select id="searchByCondition"
            parameterType="${package}.entity.${className}ConditionEntity"
            resultMap="${className}Result">
        SELECT
        <include refid="select${className}Column"/>
        FROM ${tableName}
        <include refid="queryWhere"/>
        <include refid="paginationSql"/>
    </select>

    <select id="searchCount"
            parameterType="${package}.entity.${className}ConditionEntity"
            resultType="int">
        SELECT
        COUNT(*)
        FROM ${tableName}
        <include refid="queryWhere"/>
    </select>


    <update id="update" parameterType="${package}.entity.${className}Entity">
        UPDATE ${tableName}
        <trim prefix="SET" suffixOverrides=",">
            #foreach($column in $columns)
                #if($column.columnName != $primaryKey.columnName && $column.attrname != 'updateTime')

                    <if test="$column.attrname != null #if($column.attrType == 'String') and $column.attrname != ''#end">
                        $column.columnName = #{$column.attrname},
                    </if>

                #end
            #end
            update_time=CURRENT_TIMESTAMP
        </trim>
        WHERE id = #{id} AND is_del = 0 AND update_time = #{updateTime}
    </update>

    <delete id="deleteByIds">
        UPDATE ${tableName}
        SET is_del = 1,update_time=CURRENT_TIMESTAMP,update_user_id=#{entity.updateUserId},update_user_name=#{entity.updateUserName}
        WHERE is_del = 0 AND id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <insert id="insert" parameterType="${package}.entity.${className}Entity">
        INSERT INTO ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #foreach($column in $columns)

                    <if test="$column.attrname != null #if($column.attrType == 'String' ) and $column.attrname != ''#end">
                        $column.columnName,
                    </if>

            #end
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #foreach($column in $columns)
                    <if test="$column.attrname != null #if($column.attrType == 'String' ) and $column.attrname != ''#end">
                        #{$column.attrname},
                    </if>

            #end
        </trim>
    </insert>

    <select id="findByIds" parameterType="Long"
            resultMap="${className}Result">
        SELECT
          <include refid="select${className}Column"/>
        FROM ${tableName}
        WHERE is_del = 0 AND id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

</mapper>
