package ${basePackage}.web.controller;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.DeleteMapping;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.PutMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import ${package}.entity.ResponsePageEntity;
import ${package}.entity.${className}ConditionEntity;
import ${package}.entity.${className}Entity;
import ${package}.service.${className}Service;
import io.swagger.v3.oas.annotations.Operation;
import io.swagger.v3.oas.annotations.tags.Tag;
import java.util.List;

/**
 * ${tableComment} 接口层
 *
 * @author ${author}
 * @date ${datetime}
 */
@Tag(name = "${tableComment}操作", description = "${tableComment}接口")
@RestController
@RequestMapping("/v1/${classname}")
public class ${className}Controller {

	@Autowired
	private ${className}Service ${classname}Service;

	/**
	 * 通过id查询${tableComment}信息
	 *
	 * @param id 系统ID
	 * @return ${tableComment}信息
	 */
	@Operation(summary = "通过id查询${tableComment}信息")
	@GetMapping("/{id}")
	public ${className}Entity findById(@PathVariable Long id) {
		return ${classname}Service.findById(id);
	}

	/**
    * 根据条件查询${tableComment}列表
    *
    * @param ${classname}ConditionEntity 条件
    * @return ${tableComment}列表
    */
	@Operation(summary = "根据条件查询${tableComment}列表")
	@PostMapping("/page")
	public ResponsePageEntity<${className}Entity> searchByPage(@RequestBody ${className}ConditionEntity ${classname}ConditionEntity) {
		return ${classname}Service.searchByPage(${classname}ConditionEntity);
	}


	/**
     * 添加${tableComment}
     *
     * @param ${classname}Entity ${tableComment}实体
     * @return 影响行数
     */
	@Operation(summary = "添加${tableComment}")
	@PostMapping
	public int insert(@RequestBody ${className}Entity ${classname}Entity) {
		return ${classname}Service.insert(${classname}Entity);
	}

	/**
     * 修改${tableComment}
     *
     * @param ${classname}Entity ${tableComment}实体
     * @return 影响行数
     */
	@Operation(summary = "修改${tableComment}")
	@PutMapping
	public int update(@RequestBody ${className}Entity ${classname}Entity) {
		return ${classname}Service.update(${classname}Entity);
	}

	/**
     * 批量删除${tableComment}
     *
     * @param ids ${tableComment}ID集合
     * @return 影响行数
     */
	@Operation(summary = "批量删除${tableComment}")
	@DeleteMapping("/batch")
	public int deleteBatch(@RequestBody List<Long> ids) {
		return ${classname}Service.deleteByIds(ids);
	}
}
