package ${package}.entity;

import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;
import ${package}.entity.BaseEntity;
#if($isMasterSlave)
import java.util.List;
#foreach($slaveTable in $table.slaveTables)
import ${package}.entity.${slaveTable.className}Entity;
#end
#end
#foreach ($column in $columns)
#if($column.attrType == 'Date' && ($column.attrname != 'createTime' && $column.attrname != 'updateTime'))
import java.util.Date;
#break
#end
#end
#foreach ($column in $columns)
#if($column.attrType == 'BigDecimal')
import java.math.BigDecimal;
#break
#end
#end
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;

/**
 * ${tableComment}实体
 *
 * @author ${author}
 * @date ${datetime}
 */
@ApiModel("${tableComment}实体")
@AllArgsConstructor
@NoArgsConstructor
@Data
public class ${className}Entity extends BaseEntity {

#foreach ($column in $columns)
#if($column.attrname != 'id' && $column.attrname != 'createUserId' && $column.attrname != 'createUserName' && $column.attrname != 'createTime' && $column.attrname != 'updateUserId' && $column.attrname != 'updateUserName' && $column.attrname != 'isDel')

	/**
	 * $column.columnComment
	 */
	@ApiModelProperty("$column.columnComment")
	private $column.attrType $column.attrname;
#end
#end

#foreach($slaveTable in $table.slaveTables)
    /**
     * ${slaveTable.tableComment}列表
     */
    @ApiModelProperty("${slaveTable.tableComment}列表")
    private List<${slaveTable.className}Entity> ${slaveTable.classname}List;
#end
}
