package ${package}.mapper;

import ${package}.entity.${className}ConditionEntity;
import ${package}.entity.${className}Entity;
import ${package}.mapper.BaseMapper;
import java.util.List;
import org.apache.ibatis.annotations.Param;

/**
 * ${tableComment} mapper
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Mapper extends BaseMapper<${className}Entity, ${className}ConditionEntity> {
	/**
     * 查询${tableComment}信息
     *
     * @param ${primaryKey.attrname} ${tableComment}ID
     * @return ${tableComment}信息
     */
	${className}Entity findById(${primaryKey.attrType} ${primaryKey.attrname});

	/**
     * 添加${tableComment}
     *
     * @param ${classname}Entity ${tableComment}信息
     * @return 结果
     */
	int insert(${className}Entity ${classname}Entity);

	/**
     * 修改${tableComment}
     *
     * @param ${classname}Entity ${tableComment}信息
     * @return 结果
     */
	int update(${className}Entity ${classname}Entity);

	/**
     * 批量删除${tableComment}
     *
     * @param ids id集合
     * @param entity ${tableComment}实体
     * @return 结果
     */
	int deleteByIds(@Param("ids") List<Long> ids, @Param("entity") ${className}Entity entity);

	/**
     * 批量查询${tableComment}信息
     *
     * @param ids ID集合
     * @return 部门信息
    */
	List<${className}Entity> findByIds(List<Long> ids);
}
